.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.equals {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkkhaki;
    width: 100px;
    height: 100px;
    border-radius: 30%;
    font-size: 30px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100px;
    height: 100px;
    background-color: darkkhaki;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 30%;
}