.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.equals {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b9743;
    min-width: 100px;
    height: 100px;
    border-radius: 5%;
    font-size: 30px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100px;
    height: 100px;
    background-color: darkkhaki;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 5%;
}
.button:hover{
    opacity: 0.8;
}
.button:active{
    background-color: rgb(255, 225, 109);
}